<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define sourceFolder="C:\Users\Michel\source\repos\TravelingSalesManProblem\TravelingSalesManProblem\bin\Release\net5.0"?>
	<Product Id="*" Name="TSP Solver" Language="1033" Version="1.0.0.0" Manufacturer="Michel Paessens" UpgradeCode="fb6d4841-4751-4d6f-99a4-774f26f0e1fb">
    
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="Eine neuere Version der TSP simulation ist bereits installiert" />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TSP Solver" />
			</Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="TSP Solve" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
		</Directory>


    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="54dd6893-f3ec-471f-9792-14eba6c39eca">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Travelling Salesman Solver" Description="Loest das TSP mit 2 Algorithmen" Target="#[TravelingSalesManProblem.exe]" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\TSPSolver" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="*">
        <Shortcut Id="ApplicationDesktopShortcut" Name="Travelling Salesman Solver" Description="Loest das TSP mit 2 Algorithmen" Target="#[TravelingSalesManProblem.exe]" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\TSPSolver" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="TSP Solver" Level="1">
      <ComponentRef Id="TravelingSalesManProblem.exe"/>
      <ComponentRef Id="TravelingSalesManProblem.dll"/>
      <ComponentRef Id="Newtonsoft.Json.dll"/>
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
    </Feature>
    
	</Fragment>

  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="TravelingSalesManProblem.exe" Guid="350f9916-477e-4c84-b209-0fd76d39fa89">
        <File Id="TravelingSalesManProblem.exe" Source="$(var.sourceFolder)\TravelingSalesManProblem.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="TravelingSalesManProblem.dll" Guid="b6907f98-3d44-4307-9fd8-f0f4f8f773b6">
        <File Id="TravelingSalesManProblem.dll" Source="$(var.sourceFolder)\TravelingSalesManProblem.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="314470a0-c21b-4a5a-9642-f1ce5b9b9a0b">
        <File Id="Newtonsoft.Json.dll" Source="$(var.sourceFolder)\Newtonsoft.Json.dll" KeyPath="yes"/>
      </Component>
      
		</ComponentGroup>

    <CustomAction Id="EXECUTE_AFTER_FINALIZE"
              Execute="immediate"
              Impersonate="no"
              Return="asyncNoWait"
              FileKey="TravelingSalesManProblem.exe"
              ExeCommand="" />

    <InstallExecuteSequence>
      <Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
	</Fragment>
</Wix>
